.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  border-width: 4px;
  padding: 14px 24px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  color: #bdc3c7;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border-color: #bdc3c7;
  background: #2c3e50;
  border-style: solid;
  margin: 20px;
  text-align: center;
}
